name: Build
on:
  workflow_call:
    inputs:
      mode:
        required: true
        type: string
        default: snapshot
        description: |
          snapshot or release (passed to `prepare`)
    outputs:
      version-commit-objects:
        value: ${{ jobs.prepare.outputs.commit-objects }}
      version-commit-digest:
        value: ${{ jobs.prepare.outputs.commit-digest }}
      effective-version:
        value: ${{ jobs.prepare.outputs.version }}
      base-component-descriptor:
        value: ${{ jobs.base-component-descriptor.outputs.component-descriptor }}

jobs:
  prepare:
    uses: gardener/cc-utils/.github/workflows/prepare.yaml@master
    with:
      mode: ${{ inputs.mode }}

  build:
    permissions:
      contents: read
      packages: write
      id-token: write
    needs:
      - prepare
    strategy:
      matrix:
        args:
          - name: concourse-worker
            prebuild-hook: ./prebuild-registry-resource.sh
            dockerfile: concourse-worker.dockerfile
            oci-platforms: linux/amd64,linux/arm64
            oci-repository: cicd/concourse-worker
            # todo: handle build-args
            labels: |
              - name: gardener.cloud/cve-categorisation
                value:
                  network_exposure: public
                  authentication_enforced: true
                  user_interaction: gardener-operator
                  confidentiality_requirement: high
                  integrity_requirement: high
                  availability_requirement: high
          - name: concourse-web
            oci-repository: cicd/concourse-web
            dockerfile: concourse-web.dockerfile
            oci-platforms: linux/amd64
            labels: |
              - name: gardener.cloud/cve-categorisation
                value:
                  network_exposure: public
                  authentication_enforced: true
                  user_interaction: gardener-operator
                  confidentiality_requirement: high
                  integrity_requirement: high
                  availability_requirement: high
          - name: concourse-resource-git
            oci-repository: cicd/concourse-resource-git
            dockerfile: concourse-resource-git.dockerfile
            oci-platforms: linux/amd64,linux/arm64
            labels: |
              - name: gardener.cloud/cve-categorisation
                value:
                  network_exposure: protected
                  authentication_enforced: false
                  user_interaction: gardener-operator
                  confidentiality_requirement: low
                  integrity_requirement: high
                  availability_requirement: low
          - name: concourse-resource-time
            oci-repository: cicd/concourse-resource-time
            dockerfile: concourse-resource-time.dockerfile
            oci-platforms: linux/amd64,linux/arm64
            labels: |
              - name: gardener.cloud/cve-categorisation
                value:
                  network_exposure: protected
                  authentication_enforced: false
                  user_interaction: gardener-operator
                  confidentiality_requirement: none
                  integrity_requirement: high
                  availability_requirement: none
    uses: gardener/cc-utils/.github/workflows/oci-ocm.yaml@master
    with:
      name: ${{ matrix.args.name }}
      oci-registry: ${{ needs.prepare.outputs.oci-registry }}
      oci-repository: ${{ matrix.args.oci-repository }}
      oci-platforms: ${{ matrix.args.oci-platforms }}
      dockerfile: ${{ matrix.args.dockerfile }}
      prebuild-hook: ${{ matrix.args.prebuild-hook }}
      version: ${{ needs.prepare.outputs.version }}

  base-component-descriptor:
    needs:
      - prepare
    uses: gardener/cc-utils/.github/workflows/base-component-descriptor.yaml@master
    with:
      version: ${{ needs.prepare.outputs.version }}
      ocm-repo: ${{ needs.prepare.outputs.ocm-repository }}
      commit-digest: ${{ needs.prepare.outputs.commit-digest }}
      labels: |
        - name: cloud.gardener.cnudie/responsibles
          value:
            - type: githubTeam
              teamname: gardener/ci-maintainers
              github_hostname: github.com
        - name: cloud.gardener.cnudie/dso/scanning-hints/source_analysis/v1
          value:
            policy: skip
            comment: |
              the repository does not contain source code, but only the
              build-description of concourse-ci
